button
{
  background-color: cyan;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

head
{
   background-color: gold;
}

body
{
  background-color: gold;
}

h1
{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h4
{  
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

label
{
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}